<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solarbabes.heliopot" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar" >
        <activity android:name=".WifiSetup" >
        </activity>
        <activity android:name=".PlantDetail" />
        <activity
            android:name=".AddPlant"
            android:parentActivityName=".PlantList" />
        <activity
            android:name=".WateringSchedule"
            android:parentActivityName=".PlantDetail" />
        <activity
            android:name=".PlantExtraInfo"
            android:parentActivityName=".PlantDetail" />
        <activity
            android:name=".PlantGallery"
            android:parentActivityName=".PlantDetail" />
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlantList"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MetricData"
            android:parentActivityName=".PlantDetail" />
        <activity
            android:name=".Main2Activity"
            android:parentActivityName=".PlantList" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".PlantList" />
        <activity
            android:name=".ManualControl"
            android:parentActivityName=".PlantList">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>